<!-- edit note Modal -->
<div class="modal-header">
  <h4 class="modal-title">Edit Note</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form #editForm="ngForm">
    <div class="form-group">
      <label for="edit-patientNote">Note</label>
      <input type="text" ngModel="{{note?.patientNote}}"
             class="form-control"
             id="edit-patientNote"
             name="patientNote"
             placeholder="Note">
    </div>
    <input type="hidden" ngModel="{{note?.id}}" name="id" class="form-control" id="id">
    <input type="hidden" ngModel="{{note?.patientId}}" name="patientId" class="form-control" id="patientId">
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
      <button (click)="onUpdateNote(editForm.value)" class="btn btn-secondary" data-bs-dismiss="modal">Save changes</button>
    </div>
  </form>
</div>
