<!-- edit patient Modal -->
<div class="modal-header">
  <h4 class="modal-title">Edit Patient {{patient?.lastname}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form #editForm="ngForm">
    <div class="form-group">
      <label for="edit-lastname">Last name</label>
      <input type="text" ngModel="{{patient?.lastname}}"
             class="form-control"
             id="edit-lastname"
             name="lastname"
             placeholder="Last name">
    </div>
    <div class="form-group">
      <label for="edit-firstname">First name</label>
      <input type="text" ngModel="{{patient?.firstname}}"
             class="form-control"
             id="edit-firstname"
             name="firstname"
             placeholder="First name">
    </div>
    <div class="form-group">
      <label for="edit-lastname">Birthdate</label>
      <input type="date" ngModel="{{patient?.birthdate | date : 'yyyy-MM-dd' : '+60'}}"
             class="form-control"
             id="edit-birthdate"
             name="birthdate"
             placeholder="yyyy-MM-dd">
    </div>
    <div class="form-group">
      <label for="edit-sex">Sex</label>
      <input type="text" ngModel="{{patient?.sex}}"
             class="form-control"
             id="edit-sex"
             name="sex"
             placeholder="Sex">
    </div>
    <div class="form-group">
      <label for="edit-address">Address</label>
      <input type="text" ngModel="{{patient?.address}}"
             class="form-control"
             id="edit-address"
             name="address"
             placeholder="Address">
    </div>
    <div class="form-group">
      <label for="edit-phone">Phone</label>
      <input type="text" ngModel="{{patient?.phone}}"
             class="form-control"
             id="edit-phone"
             name="phone"
             placeholder="Phone">
    </div>
    <input type="hidden" ngModel="{{patient?.id}}" name="id" class="form-control" id="id" placeholder="id">
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
      <button (click)="onUpdatePatient(editForm.value)" class="btn btn-secondary" data-bs-dismiss="modal">Save changes</button>
    </div>
  </form>
</div>
