<!-- edit patient Modal -->
<div class="modal-header">
  <h4 class="modal-title">Edit Patient</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form #editForm="ngForm">
    <div class="form-group">
      <label for="edit-lastname">Last name</label>
      <input type="text" ngModel="{{patient?.lastname}}"
             class="form-control"
             id="edit-lastname"
             name="lastname"
             placeholder="Last name">
    </div>
    <input type="hidden" ngModel="{{patient?.id}}" name="id" class="form-control" id="id" placeholder="id">
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
      <button (click)="onUpdatePatient(editForm.value)" class="btn btn-secondary" data-bs-dismiss="modal">Save changes</button>
    </div>
  </form>
</div>
