<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Last name</th>
      <th scope="col">First name</th>
      <th scope="col">Birthdate</th>
      <th scope="col">Sex</th>
      <th scope="col">Address</th>
      <th scope="col">Phone</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let patient of patients">
      <td>{{patient.id}}</td>
      <td>{{patient.lastname}}</td>
      <td>{{patient.firstname}}</td>
      <td>{{patient.birthdate | date: 'dd-MM-yyyy'}}</td>
      <td>{{patient.sex}}</td>
      <td>{{patient.address}}</td>
      <td>{{patient.phone}}</td>
    </tr>
  </tbody>
</table>

<!-- Button's trigger modal -->
<div class="text-center list-inline py-3" id="button-container">
  <li class="list-inline-item">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addPatientModal">
      Add patient
    </button>
  </li>
  <li class="list-inline-item">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#updatePatientModal">
      Edit patient
    </button>
  </li>
  <li class="list-inline-item">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#deletePatientModal">
      Delete patient
    </button>
  </li>
</div>

<!-- add patient Modal -->
<div class="modal fade" id="addPatientModal" tabindex="-1" aria-labelledby="addPatientModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addPatientModalLabel">Add Patient</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="add-lastname">Last name</label>
            <input type="text" name="lastname" class="form-control" id="add-lastname" placeholder="Last name" required>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- edit patient Modal -->
<div class="modal fade" id="updatePatientModal" tabindex="-1" aria-labelledby="editPatientModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updatePatientModalLabel">Edit Patient</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="edit-lastname">Last name</label>
            <input type="text" name="lastname" class="form-control" id="edit-lastname" placeholder="Last name">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- delete patient Modal -->
<div class="modal fade" id="deletePatientModal" tabindex="-1" aria-labelledby="deletePatientModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deletePatientModalLabel">Delete Patient</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete patient ?</p>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
          <button class="btn btn-danger" data-dismiss="modal">Yes</button>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
