<div class="card my-5">
  <div class="card-body">
    <ul class="text-center list-inline py-3">
      <li class="list-inline-item">
        <button class="btn btn-success" (click)="onAddNote()">Add a note</button>
      </li>
    </ul>
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Note Id</th>
        <th scope="col">Patient Id</th>
        <th scope="col">Note</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let note of notes">
        <td>{{ note.id }}</td>
        <td>{{ note.patientId }}</td>
        <td>{{ note.patientNote }}</td>
        <td>
          <li class="list-inline-item">
            <button (click)="onUpdateNote(note)" type="button" class="btn btn-primary me-lg-2" data-bs-toggle="modal" data-bs-target="#updateNoteModal">
              Edit note
            </button>
            <button (click)="onDeleteNote(note.id)" type="button" class="btn btn-primary me-lg-2" data-bs-toggle="modal" data-bs-target="#deleteNoteModal">
              Delete note
            </button>
          </li>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
